/target
__pycache__/
*.rar
*.pyc
*.exe
*.dll
*.bin
*.json
flash_id.py
flash_id_func.txt
all_strings.txt
*_analysis.md
innogrit/
jm_fid/
jm_id/
maxio_nvme/
mv1120/
mv1160/
nvme_hmb/
nvme_smart/
phison_nvme/
rtl_nvme/
rtl_sata/
sf/
sg/
smi_nvme/
smi_sata/
tenafe/
